
<p>test twig</p>
<div class="custom-time-block">
  <p>Current Time: {{ current_time.formatted_time }}</p>
  <p>Date: {{ current_time.formatted_date }}</p>
  <p>Location: {{ city }}, {{ country }}</p>
</div>