{#
  /**
   * @file
   * Twig template for the custom timezone location time block.
   */
  #}
  
  <div class="custom-time">
    <div style="font-weight: bold;">
      {{ formatted_time }}<br>
      {{ formatted_date }}
    </div>
    <div class="current-location">
      Time in {{ city }}, {{ country }}
    </div>
  </div>
  